@charset "UTF-8";

/*Element*/
input, textarea {
	border: 1px solid #997;
	padding: 0.25rem 0.5rem;
	background: #fff;
	vertical-align: middle;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3) inset;
}


td {
	text-align: left;
}

select {
	width: 8rem;
	margin-bottom: 0.5rem;
}

/*Button*/
.btgr {
	display: flex;
	flex-wrap: nowrap;
}

.btnF {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	border: none;
	background: rgb(20,110,110);
	width: 49%;
	padding: 0.5rem;
}

.btnF:hover {
	filter:brightness(120%);
}

::placeholder{
 color:#888;
}

@media screen and (max-width: 768px) {
	
	.btgr {
		display: flex;
		flex-direction: column;
		padding: 0 0 0.4rem;
	}
	
	.btn {
		margin: 0 0 0.5rem 0;
		width: 100%;
	}
	
	table{
		border: none;
	}
	
	th, td {
		display: flex;
		border: none;
		padding: 0;
	}
	
	th {
		border-bottom: 1px solid rgb(0,0,0);
	}
	
	td{
		padding: 0.4rem 0 1rem;
	}
	
	td:last-child {
		padding-bottom: 0;
	}
	
	input {
		width: 100%;
		margin-bottom: 1rem;
	}
	
	textarea {
		width: 100%;
	}
	
	.short {
		width: 60%;
	}
	
	small {
		padding-left: 0.25rem;
	}

}




